*{
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
}
body{
	min-height: 100vh;
	background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
	linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
	linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
	radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
	radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
	background-blend-mode: screen, color-dodge, overlay, difference, normal;
	font-size: 16px;

}
.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 96px 0 96px;
}

.card{
	border-radius: 15px;
	background-color: rgb(66, 66, 66);
	width: 50%;
}
.card-body{
	padding: 48px;
}

h3{
	margin: 0;
	margin-bottom: 18px;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: white;
}

form{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 24px;
	height: 80px;
	width: 643px;
	margin-bottom: 24px;
}

.input-area{
	width: 100%;
	position: relative;
	height: 80px;
}

textarea{
	display: block;
	padding: 10px 12px;
	width: 100%;
	border-radius:0.25px;
	background: transparent;
	border: none;
	color: white;
	outline: none;
	font-size: 16px;
	resize: none;
	min-height: 80px;
}

textarea:focus ~ .form-label{
	color: #3b71ca;
	opacity: 0.8;
	transform: translateY(-1.5rem) scale(0.8);
	left: -10px;
}

.form-label{
	position: absolute;
	top:0;
	max-width: 90%;
	left: 12px;
	display: inline-block;
	color: rgb(189, 189, 189);
	transition: all .4s ease-out;
	padding-top: 11px;
}


.button{
	color: #fff;
	background-color: #3b71ca;
	box-shadow: 0 4px 9px -4px #386bc0;
	border: none;
	border-radius: 4px;
	padding: 12px 27px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500px;
	margin-left: 8px;
	cursor: pointer;
}

.button:hover{
	box-shadow: 0 4px 18px -2px rgba(0,0,0,.7);
	border-color: rgb(56, 107, 192);
}


ul li{
	list-style: none;
	font-size: 17px;
	padding: 20px 8px 20px 50px;
	user-select: none;
	cursor: pointer;
	position: relative;
	color:white;
	border-bottom: 1px solid white;
	max-width: 550px;
	word-wrap: break-word;
}  

ul li:last-child{
	border:none;
}

ul li::before{
	content: '';
	position: absolute;
	height: 28px;
	width: 28px;
	border-radius: 50%;
	background-image: url(https://github.com/Assanali18/intro-to-ml-kbtu/blob/main/olzhas.jpg?raw=true);
	background-size: cover;
	background-position: center;
	top: 12px;
	left: 8px;
} 


ul li.checked{
	color: white;
	text-decoration: line-through;
}
ul li.checked::before{
	background-image: url("../img/olzhas.jpg");
}
ul li span{
	position: absolute;
	right: -40px;
	top: 11px;
	width: 40px;
	height: 40px;
	font-size: 22px;
	color: rgb(59, 113, 202);
	line-height: 40px;
	text-align: center;
	border-radius: 30%;
}

ul li span:hover{
	background: rgb(59, 113, 202);
	color: white;
}


