body{
    background-color: #f0f2f5;
    margin: 0;
}

.main-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    gap:90px;    
}

.logo img{
    width: 300px;
}

.logo{
    width: 500px;
    padding-top: 198px;
    padding-left: 23px;
}

.text{
    font-family:  SFProDisplay-Regular, Helvetica, Arial, sans-serif;;
    font-size: 28px;
    line-height: 32px;
    margin-top: 20px;
}

.form{
    max-width: 396px;
    padding-top:132px;
}

form{

    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    padding:10px 16px 24px;
    box-sizing: border-box;
}

form input{
    width: 100%;
    padding: 14px 16px;    
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 17px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    margin: 6px 0;
    outline: none;
}

.button{
    width: 100%;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
    margin-top:6px;
}

form a{
    display: block;
    margin-top: 16px;
    text-align: center;
    color:rgb(24, 119, 242);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
}
.line{
    width: 100%;
    border-bottom: 1px solid #dadde1;
    margin: 20px 16px;
}

.button-green{
    padding-top: 6px;
    background-color: #42b72a;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    margin: 0 auto;
    width: 234px;
    display:block;
    transition: 200ms cubic-bezier(.08,.52,.52,1) , 200ms cubic-bezier(.08,.52,.52,1) , 200ms cubic-bezier(.08,.52,.52,1);
}

.sub-form{
    margin-top: 28px;
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#1c1e21;
    text-align: center;
}

.sub-form a{
    color:inherit;
    font-weight: 600;
    text-decoration: none;
}

input:focus{
    border-color: #1b74e4;
    box-shadow: 0 0 0 2px #e7f3ff;
}

a:hover{
    text-decoration: underline;
}

.button-green:hover{
    background-color: #338922;
}
footer{
    background-color: #fff;
    padding-bottom: 20px;
}
.footer-content{
    margin: 0 auto;
    width: 980px;
    padding-top: 20px;
    line-height: 1.34;
    color: #737373;
    font-family: Helvetica, Arial, sans-serif;
}
.footer-content a{
    color: #737373;
    font-size: 12px;
    text-decoration: none;
    padding-right: 10px;
}
.footer-content .lang a{
    line-height: 16.08px;
}

footer .line{
    margin: 0;
    margin:8px 0 10px;
}

.footer-content .links a{
    padding-right: 20px;
}

.copyright{
    font-size: 11px;
    margin-top: 20px;
}

.footer-content a:hover{
    text-decoration: underline;
}

.plus{
    background-color: #f5f6f7;
    border-color: #ccd0d5;
    height: 18px;
    line-height: 18px;
    color: #8a8d91;
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
    border: 1px solid;
    border-radius: 2px;
    box-sizing: content-box;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.plus img{
    width: 13px;

}

